.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-lightbg);
  border-radius: 999px;
  min-height: 6vh;
  padding: 0.5em;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header .logo img {
  width: var(--sizes-10xl);
}
body {
  overflow-x: hidden;
}

.header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2em;
  position: absolute;
  height: 90vh;
  right: 0;
  /* From https://css.glass */
  background: rgba(12, 127, 250, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(12, 127, 250, 0.3);
  top: 6vh;
  width: 50%;
  justify-content: space-around;
  transform: translateX(150%);
  transition: transform 0.5s ease-in-out;
}

.header__menu li {
  opacity: 0;
}

.header__link {
  font-size: var(--size-xs);
  font-weight: 500;
  text-decoration: none;
  color: var(--clr-light);
  letter-spacing: -0.05em;
  font-weight: 600;
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  border-radius: 999px;
}

.cta {
  display: none;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* xs */
@media (min-width: 475px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-lightbg);
    border-radius: 999px;
    min-height: 6vh;
    padding: 0.5em;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}


/* sm */

/* md */
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-lightbg);
    border-radius: 999px;
    min-height: 6vh;
    padding: 0.5em;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header .logo img {
    width: var(--sizes-10xl);
  }

  .header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
    position: relative;
    height: 6vh;
    right: 0;
    /* From https://css.glass */
    background: none;
    border-radius: 16px;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    top: 0vh;
    width: 60%;
    justify-content: space-around;
    transform: translateX(0%);
  }

  .header__menu li {
    opacity: 1;
  }

  .burger {
    display: none;
  }

  .header__link {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--clr-dark);
    letter-spacing: -0.05em;
    font-weight: 600;
  }

  .cta {
    display: block;
  }

  .cta .btn {
    padding: 0.7em 1em;
    font-size: var(--sizes-xs);
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--sizes-md);
    font-weight: 600;
  }

  .cta .btn {
    padding: 1em 1.5em;
    font-size: var(--sizes-md);
  }
}

/* xl */
@media (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-lightbg);
    border-radius: 999px;
    min-height: 6vh;
    padding: 0.3em;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .header {
    top: 5%;
  }
}
