.services-container {
  width: 100%;
  height: 100%;
}

.services-container h1 {
  font-size: 36px;
  font-weight: 500;
}

.services-container p {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}

.services-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-sect {
  width: 100vw;
  height: 100vh;
  background: url(/public/flower.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.footer-sect {
  width: 100vw;
  height: 100vh;
  background: url(/public/flower.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.services-sect {
  padding: 8em 2em;
  display: flex;
  flex-direction: column;
}

.services-header {
  width: 100%;
  display: flex;
  gap: 4em;
}

.services-header .col:nth-child(1) {
  flex: 2;
}

.services-header .col:nth-child(2) {
  flex: 5;
  padding: 1em;
}

.service {
  display: flex;
  gap: 2em;
  height: 150px;
  border-top: 1px solid var(--clr-orange400);
}

.service-info {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.service-img {
  flex: 5;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.service-img .img {
  width: 30%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: 500vh;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
